
body {
   
    background-color: #0a0e14; 
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.student-list-wrapper {
   
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.student-list {
    width: 700px;
    background-color: #1e2530;
    padding: 40px;
    border-radius: 15px;
    border: 1px solid #2d3748;
    width: 80%;
    max-width: 1000px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

    .student-list h2 {
        font-size: 28px;
        margin-bottom: 30px;
        font-weight: 600;
    }

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px; 
}

thead tr th {
    text-align: left;
    padding: 10px 20px;
    color: #a0aec0; 
    font-weight: 500;
    border: none;
}

tbody tr {
    background-color: #2d3748; 
    transition: transform 0.2s;
}

    tbody tr td {
        padding: 20px;
        border: none;
    }

        
        tbody tr td:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        tbody tr td:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

.index {
    font-weight: bold;
    width: 50px;
}

.btn-info {
    background-color: #4a5568;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 8px;
    display: inline-block;
    transition: background 0.3s;
}

    .btn-info:hover {
        background-color: #3182ce; 
    }


tbody tr:hover {
    background-color: #364152;
    cursor: pointer;
}
