<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel | Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="~/admin/assets/css/base-admin.css" rel="stylesheet" />

</head>
<body>

    <div class="sidebar">
        <a href="#" class="sidebar-brand"><i class="fas fa-graduation-cap"></i> ClassTrack</a>
        <ul>
            <li class="nav-item"><a asp-action="Index" class="nav-link"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
            <li class="nav-item"><a asp-action="Users" class="nav-link"><i class="fas fa-users"></i> Users</a></li>
            <li class="nav-item"><a asp-action="TaskWorks" class="nav-link"><i class="fas fa-chalkboard"></i> TaskWorks</a></li>
            <li class="nav-item"><a asp-action="Quizzes" class="nav-link"><i class="fas fa-book"></i> Quizzes</a></li>
        </ul>
    </div>

    <div class="main-content">
        <div class="header">
            <h1>System Overview</h1>
            <div class="user-profile">
                <span>Admin</span>
                <i class="fas fa-user-circle fa-2x" style="margin-left: 10px; vertical-align: middle;"></i>
            </div>
        </div>
        @RenderBody()
    </div>

</body>
</html>
