:root {
    --sidebar-width: 260px;
    --primary-blue: #3b5bdb;
    --bg-light: #f8f9fc;
    --white: #ffffff;
}

* {
    margin: 6px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--bg-light);
    display: flex;
    min-height: 100vh;
}


.sidebar {
    width: var(--sidebar-width);
    background-color: var(--primary-blue);
    color: white;
    position: fixed;
    height: 100vh;
    padding: 30px 20px;
    left: 0;
    top: 0;
    margin:0;
    z-index: 1000;
}

.sidebar-brand {
    font-size: 24px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.sidebar ul {
    list-style: none;
}

.nav-link {
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 8px;
    transition: 0.3s;
}

    .nav-link.active, .nav-link:hover {
        background: rgba(255,255,255,0.1);
        color: white;
    }

    .nav-link i {
        margin-right: 12px;
        width: 20px;
    }


.main-content {
    margin-left: var(--sidebar-width);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    height: 70px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.02);
}

.user-profile {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
}
