@model IEnumerable<GetClassRoomItemVM>


<link rel="stylesheet" href="~/css/dashboard.css">
<div class="topbar">
    <div>
        <div class="h1">Dashboard</div>
        <div class="muted">Sinif yarat, qoşul, quiz-ləri idarə et.</div>
    </div>
    <div class="nav">
        <a class="btn" href="dashboard.html">Dashboard</a>
        <a class="btn" href="login.html">Logout</a>
    </div>
</div>

<div class="row">
    <div class="card col">
        <div class="h2">Create Class (Teacher)</div>
        <div class="label">Class name</div>
        <input class="input" id="className" placeholder="Məs: Network 101" />
        <button class="btn primary" id="btnCreate" style="margin-top:12px">Create</button>
        <div class="muted hint">MVC-də: POST /Classes/Create</div>
    </div>

    <div class="card col">
        <div class="h2">Join Class (Student)</div>
        <div class="label">Class code</div>
        <input class="input" id="classCode" placeholder="Məs: A7K2Q9" />
        <button class="btn ok" id="btnJoin" style="margin-top:12px">Join</button>
        <div class="muted hint">MVC-də: POST /Classes/Join</div>
    </div>
</div>

<div class="card" style="margin-top:16px">
    <div class="h2">My Classes</div>
    <div class="line"></div>

    <div class="classes" id="classes">
        @foreach(GetClassRoomItemVM classRoom in Model)
        {
            <a class="class-card" asp-action="ClassRoom" asp-route-id="@classRoom.Id">
                <div class="title">@classRoom.Name</div>
                <div class="meta">
                    <span class="badge teacher">Teacher</span>
                    <span class="muted">3 quizzes</span>
                </div>
            </a>
        }
        

    </div>
</div>

<div class="toast" id="toast"><div class="t"></div><div class="d"></div></div>


<script src="~/js/dashboard.js"></script>
