@model ResetPasswordVM
@{
    Layout = null;
}
    <link rel="stylesheet" href="~/assets/css/forget-password.css">
    <div class="auth-container">
        <div class="card">
            <h2>Reset Password</h2>
            <p class="muted">Enter your new password</p>

            <form id="resetForm" method="post" asp-action="Reset">
                <div class="field">
                    <label>New Password</label>
                    <input type="password" asp-for="NewPassword" required>
                </div>
                <input type="hidden" asp-for="Email" value="@Context.Request.Query["email"]" />
                <div class="field">
                    <label>Confirm Password</label>
                    <input type="password" asp-for="ConfirmPassword" required>
                    <small class="error" id="passError"></small>
                </div>
            
                <button type="submit" class="btn primary">
                    Update Password
                </button>
            </form>
        </div>
    </div>

