.err-simple {
    min-height: calc(100vh - 180px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    text-align: center;
    padding: 24px;
}

    .err-simple h1 {
        font-size: 52px;
        font-weight: 900;
        font-style: italic;
        color: #2b2b2b;
        opacity: .85;
    }


